<div class="content">
  <h1><a target="_blank" href="https://slides.com/kostyamalikov/angular-future-with-ivy#/28">Lazy Loaded Components!</a></h1>

  <h2>That is a simple representation of <br>Angular 9 Ivy Renderer feature<br> Lazy loading of components. <br> Just click and try</h2>

  <h3>Check your network tab. This component will be lazy loaded and costs only 6.1kB</h3>
  <br>
  
  <button class="btn" type="button" (click)="loadFeature()"><span>Lazy Load "feature.component"</span></button>

  <app-feature class="feature-component"></app-feature>

</div>